.map-container-btn {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-items: center;
  justify-content: center;
}

.map-list-button {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  width: 90%;
  height: 2.5rem;
  background-color: #4272d7;
  position: absolute;
  bottom: 1rem;

  font-family: OpenSans-Regular;
  font-size: 14px;
  color: #fff;
  line-height: 1.2;
  text-transform: uppercase;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.container-btn {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-items: center;
  justify-content: center;
}



.action-container {
  position: fixed;
  bottom: 0;
  padding: 1.5rem 1.75rem;
  width: 100%;
  height: 12%;
  background-color: #fafafa;
  border-radius: 18px 18px 0px 0px;
  box-shadow: 0px 0px 18px rgba(0, 0, 0, 0.25);
}